<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="UrlToPing" value="http://haihung.procomvn.com/"/>
    <add key="LogFolder" value="E:\Hosting\demo\logs\" />
    <add key="ExecuteTime" value="00:01" />
    <add key="EnableService" value="true" />
  </appSettings>
</configuration>